* ::before ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nerko One", cursive;
  background-image: url(./image/bg-image.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 4rem;
  font-size: 4rem;
}

.countdown_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

p {
  font-size: 3rem;
  margin-bottom: 0;
}
